.photo_image{
	position: relative;
	z-index: 99;
	top: 50%;
	left: 40%;
	width: 250px;
    height: 250px;
    background-color: transparent;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-image: url(pixelated.png);
    background-size: cover;
    background-position: center;
    transition: all 1s;
}

.photo_image:hover{
    background-image: url(download.png);
    background-size: cover;
    background-position: center;
}

.title{
	position: relative;
	z-index: 99;
	top: 50%;
	left: 41%;
	width: 250px;
    height: 250px;
}

.title h1{
	font-family: 'Kalam', cursive;
}